/* Variables-File */
/* Assign values to variables which will be used on multiple scss-files */

/* Main font size */
$main-font-size: 42px;

/* All used Colors */
$primary-color: rgb(0,0,0);
$secondary-color: rgb(255,255,255);
$tertiary-color: rgb(110, 110, 110);
$quaternary-color: rgb(233, 123, 21);


/* Height of the Header for all Pages */
$header-height: 50px;

/* Animation Speed of the Rocket-Fire on the Landingpage */
$fire-speed: 3s;
$star-speed: 50;



